@{
    ViewData["Title"] = "Home Page";
}

<!doctype html>
<html lang="en">

<body data-spy="scroll" data-target=".site-nav-target" data-offset="200">




            @await Html.PartialAsync("_Slider")


            @await Html.PartialAsync("_Portfolio")


            @await Html.PartialAsync("_About")


            @await Html.PartialAsync("_Services")


            @await Html.PartialAsync("_Skills")

            @await Html.PartialAsync("_Categories")


      



        
 

</body>
</html>