
<div class="unslate_co--section" id="portfolio-section">
    <div class="container">


        <div class="relative"><div class="loader-portfolio-wrap"><div class="loader-portfolio"></div></div> </div>
        <div id="portfolio-single-holder"></div>

        <div class="portfolio-wrapper">

            <div class="d-flex align-items-center mb-4 gsap-reveal gsap-reveal-filter">
                <h2 class="mr-auto heading-h2"><span class="gsap-reveal">Çalışmalarım</span></h2>

                @*<a href="#" class="text-white js-filter d-inline-block d-lg-none">Filter</a>

                    <div class="filter-wrap">
                        <div class="filter ml-auto" id="filters">
                            <a href="#" class="active" data-filter="*">Hepsi</a>
                            <a href="#" data-filter=".web">Makine</a>
                            <a href="#" data-filter=".branding">Doğa</a>
                            <a href="#" data-filter=".illustration">Bina</a>
                            <a href="#" data-filter=".packaging">Hayvan</a>
                        </div>
                    </div>*@
            </div>



            <div id="posts" class="row gutter-isotope-item">
                <div class="item web branding col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
                    <a href="portfolio-single-1.html" class="portfolio-item ajax-load-page isotope-item gsap-reveal-img" data-id="1">
                        <div class="overlay">
                            <span class="wrap-icon icon-link2"></span>
                            <div class="portfolio-item-content">
                                <h3>Doğa Fotoğrafçılığı </h3>
                                <p> doğa, gökyüzü </p>
                            </div>
                        </div>
                        <img src="~/unfold-master/images/1.jpeg" class="lazyload  img-fluid" alt="Images" />
                    </a>
                </div>
                <div class="item branding packaging illustration col-sm-6 col-md-6 col-lg-4 isotope-mb-2 ">
                    <a href="portfolio-single-3.html" class="portfolio-item ajax-load-page item-portrait isotope-item gsap-reveal-img" data-id="3">
                        <div class="overlay">
                            <span class="wrap-icon icon-link2"></span>
                            <div class="portfolio-item-content">
                                <h3>Bina</h3>
                                <p>cami, konya, mevlana</p>
                            </div>
                        </div>
                        <img src="~/unfold-master/images/2.jpeg" class="lazyload  img-fluid" alt="Images" />
                    </a>
                </div>

                <div class="item branding packaging col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
                    <a href="portfolio-single-4.html" class="portfolio-item isotope-item gsap-reveal-img ajax-load-page" data-id="4">
                        <div class="overlay">
                            <span class="wrap-icon icon-link2"></span>
                            <div class="portfolio-item-content">
                                <h3>Doğa Fotoğrafçılığı</h3>
                                <p> doğa, gökyüzü</p>
                            </div>
                        </div>
                        <img src="~/unfold-master/images/5.jpeg" class="lazyload  img-fluid" alt="Images" />
                    </a>
                </div>

                <div class="item web packaging col-sm-6 col-md-6 col-lg-4 isotope-mb-2">

                    <a href="images/work_4_full.jpg" class="portfolio-item isotope-item gsap-reveal-img" data-fancybox="gallery" data-caption="Watch">
                        <div class="overlay">
                            <span class="wrap-icon icon-photo2"></span>
                            <div class="portfolio-item-content">
                                <h3>Hayvan</h3>
                                <p>kuş, hayvan</p>
                            </div>
                        </div>
                        <img src="~/unfold-master/images/6.jpeg" class="lazyload  img-fluid" alt="Images" />
                    </a>

                </div>

                <div class="item illustration packaging col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
                    <a href="images/work_5_md.jpg" class="portfolio-item isotope-item gsap-reveal-img" data-fancybox="gallery" data-caption="Shoe Rebranding">
                        <div class="overlay">
                            <span class="wrap-icon icon-photo2"></span>
                            <div class="portfolio-item-content">
                                <h3>Makine Fotoğrafları</h3>
                                <p>makine, tarım</p>
                            </div>
                        </div>
                        <img src="~/unfold-master/images/10.jpg" class="lazyload  img-fluid" alt="Images" />
                    </a>
                </div>

                <div class="item web branding col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
                    <a href="portfolio-single-2.html" class="portfolio-item ajax-load-page item-portrait isotope-item gsap-reveal-img" data-id="2">
                        <div class="overlay">
                            <span class="wrap-icon icon-link2"></span>
                            <div class="portfolio-item-content">
                                <h3>Doğa Fotoğrafçılığı</h3>
                                <p>doğa, gökyüzü</p>
                            </div>
                        </div>
                        <img src="~/unfold-master/images/7.jpeg" class="lazyload  img-fluid" alt="Images" />
                    </a>
                </div>

                <div class="item branding packaging col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
                    <a href="images/work_7_a_md.jpg" class="portfolio-item item-portrait isotope-item gsap-reveal-img " data-fancybox="gallery" data-caption="Modern Building">
                        <div class="overlay">
                            <span class="wrap-icon icon-photo2"></span>
                            <div class="portfolio-item-content">
                                <h3>Bina</h3>
                                <p>cami, bina</p>
                            </div>
                        </div>
                        <img src="~/unfold-master/images/11.jpg" class="lazyload  img-fluid" alt="Images" />
                    </a>
                </div>

                @*<div class="item web branding col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
                        <a href="https://www.youtube.com/watch?v=mwtbEGNABWU" class="portfolio-item isotope-item gsap-reveal-img" data-fancybox="gallery" data-caption="Showreel 2019">
                            <div class="overlay">
                                <span class="wrap-icon icon-play_circle_filled"></span>
                                <div class="portfolio-item-content">
                                    <h3>Showreel 2019</h3>
                                    <p>web, branding</p>
                                </div>
                            </div>
                            <img src="~/unfold-master/images/work_8_md.jpg" class="lazyload  img-fluid" alt="Images" />
                        </a>
                    </div>

                    <div class="item web illustration col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
                        <a href="images/work_9_a_md.jpg" class="portfolio-item isotope-item gsap-reveal-img" data-fancybox="gallery" data-caption="Render Packaging">
                            <div class="overlay">
                                <span class="wrap-icon icon-photo2"></span>
                                <div class="portfolio-item-content">
                                    <h3>Render Packaging</h3>
                                    <p>web, illustration</p>
                                </div>
                            </div>
                            <img src="~/unfold-master/images/work_9_a_md.jpg" class="lazyload  img-fluid" alt="Images" />
                        </a>
                    </div>*@

            </div>

        </div>


    </div>
</div>