
@{
    var a = (List<DataBaseEntity.DAO.ProjectTblDAO>)ViewData["project"];

}




<div class="unslate_co--section" id="portfolio-section">
    <div class="container">


        <div class="relative"><div class="loader-portfolio-wrap"><div class="loader-portfolio"></div></div> </div>
        <div id="portfolio-single-holder"></div>

        <div class="portfolio-wrapper">

            <div class="d-flex align-items-center mb-4 gsap-reveal gsap-reveal-filter">
                <h2 class="mr-auto heading-h2"><span class="gsap-reveal">Çalışmalarım</span></h2>

                @*<a href="#" class="text-white js-filter d-inline-block d-lg-none">Filter</a>

                    <div class="filter-wrap">
                        <div class="filter ml-auto" id="filters">
                            <a href="#" class="active" data-filter="*">Hepsi</a>
                            <a href="#" data-filter=".web">Makine</a>
                            <a href="#" data-filter=".branding">Doğa</a>
                            <a href="#" data-filter=".illustration">Bina</a>
                            <a href="#" data-filter=".packaging">Hayvan</a>
                        </div>
                    </div>*@
            </div>



            <div id="posts" class="row gutter-isotope-item">

                @foreach (var project in a)
                {
                    <div class="item web branding col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
                        <a href="/Project/Index/@project.Project_ID" class="portfolio-item ajax-load-page isotope-item gsap-reveal-img" data-id="1">
                            <div class="overlay">
                                <span class="wrap-icon icon-link2"></span>
                                <div class="portfolio-item-content">
                                    <h3>@project.Project_Title </h3>
                                    <p> @project.Project_Content </p>
                                </div>
                            </div>
                            <img src="@project.Project_Image" class="lazyload  img-fluid" alt="Images" />
                        </a>
                    </div>
                }
                </div>

            @*<div class="item web branding col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
                    <a href="https://www.youtube.com/watch?v=mwtbEGNABWU" class="portfolio-item isotope-item gsap-reveal-img" data-fancybox="gallery" data-caption="Showreel 2019">
                        <div class="overlay">
                            <span class="wrap-icon icon-play_circle_filled"></span>
                            <div class="portfolio-item-content">
                                <h3>Showreel 2019</h3>
                                <p>web, branding</p>
                            </div>
                        </div>
                        <img src="~/unfold-master/images/work_8_md.jpg" class="lazyload  img-fluid" alt="Images" />
                    </a>
                </div>

                <div class="item web illustration col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
                    <a href="images/work_9_a_md.jpg" class="portfolio-item isotope-item gsap-reveal-img" data-fancybox="gallery" data-caption="Render Packaging">
                        <div class="overlay">
                            <span class="wrap-icon icon-photo2"></span>
                            <div class="portfolio-item-content">
                                <h3>Render Packaging</h3>
                                <p>web, illustration</p>
                            </div>
                        </div>
                        <img src="~/unfold-master/images/work_9_a_md.jpg" class="lazyload  img-fluid" alt="Images" />
                    </a>
                </div>*@



        </div>


    </div>
</div>